Repository Rishit-dagli/TF-Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Rishit-dagli, @harshgeek4coder, @shreyaparadkar

Update tests
  tests/tests.py
Owners: @harshgeek4coder

Reformat with isort and black
  setup.py
  tests/tests.py
Owners: @Rishit-dagli, @harshgeek4coder

Ignore isort for an import
  tests/tests.py
Owners: @harshgeek4coder

Add pytest to dev dependencies
  setup.py
Owners: @Rishit-dagli

Add a tests workflow
  .github/workflows/tests.yml
Owners: @Rishit-dagli

Add __init__.py
  .github/workflows/tests.yml
  tests/__init__.py
Owners: @Rishit-dagli, @harshgeek4coder

Add tests badge to README
  README.md
  tfwatcher/README.md
Owners: @Rishit-dagli

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# Last matching pattern takes preecedence.

# Default owners for everything in repo.
* @Rishit-dagli

# Python Package
/tfwatcher @Rishit-dagli

# Test
/tests @harshgeek4coder

# Web App
/webapp @shreyaparadkar
